<ul class="nav justify-content-between p-4" role="navigation">
  <li class="nav-item">
    <h1>Simple Invoice Generator</h1>
  </li>
  <li class="nav-item">
    <img src="https://dreamvilla.life/wp-content/uploads/2017/07/dummy-profile-pic.png"  width="50" height="50" alt="profile" >
  </li>
</ul>
