<h3>Something's not right. You better go <LinkTo @route="home">home</LinkTo>.</h3>
{{!-- {{log this.model}} --}}
<div class="container mt-4">
  <div class="card">
    <div class="card-body p-5">
      <pre>
        {{error}}
      </pre>
      <pre>
        {{this.model}}
      </pre>
    </div>
  </div>
</div>

{{outlet}}

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