<section class="introduction p-5">
  <div class="container">
    <h2 class="text-center my-4">Create Invoice on the go</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus ab
      quae voluptate autem itaque, rerum dicta numquam laborum expedita ipsam
      tenetur quidem, tempore ea consequatur consequuntur deleniti iusto
      inventore officia velit eligendi nulla perspiciatis. Natus veritatis
      consequatur assumenda doloribus voluptate architecto vitae, exercitationem
      blanditiis illum quos tenetur nostrum eligendi voluptatum adipisci totam
      amet qui. Quos aliquid culpa ratione ut autem! Necessitatibus temporibus
      maxime veniam at, veritatis assumenda laborum cumque numquam nulla
      possimus earum aliquid. Rerum voluptates quisquam, dignissimos quasi omnis
      atque dolorum adipisci, id rem, mollitia maxime facilis. Illo soluta
      assumenda voluptates eius sed facilis repudiandae eveniet. Magnam,
      repellat! Non consequuntur facilis voluptatem eum nisi, molestias
      reprehenderit aperiam doloribus
    </p>
  </div>
</section>

<section class="template-list">
  <div class="container">
    <h2 class="text-center my-4">Choose your Template</h2>
    <TemplateCard
      @imgSrc="https://dreamvilla.life/wp-content/uploads/2017/07/dummy-profile-pic.png"
      @cardBody="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, reprehenderit"
    />
  </div>
</section>
